{% extends 'base.html.twig' %}
{% block body %}
    {% apply inline_css(source('@styles/app.css')) %}
        <img src="{{ email.image('@images/logo.svg') }}" alt="Logo" class="logo-easy-find">
        <h4>Bonjour,</h4>
        <p>Veuillez cliquez sur ce lien
            <a href="{{ url_reset_password }}">{{ url_reset_password }}</a>
            pour reinitialiser votre mot de passe
        </p>
        <h4>Cordialement,</h4>
    {% endapply %}
{% endblock %}
