:root{
  --primary: #001c44;
}

.card-authentification {
  border-radius: 30px;
}

.card-image-logo{
  display: flex;
  justify-content: center;
} 

.logo-easyFind{
  width: 50px;
  height: 50px;
}

.navbar-primary,.btn-primary,.bg-primary{
  background: var(--primary);
}

.text-primary{
  color: var(--primary) !important;
}

.btn-primary{
  border: 0;
}

.btn-primary:hover{
  background: var(--primary); 
}

.btn:active,.btn:focus{
  outline: none !important;
}

.navbar-nav{
  margin: 0 auto;
}

.btn-rounded{
  border-radius: 50px;
}

.icon-toggle-password{
  cursor: pointer;
}

.form-control:focus,.form-control.is-invalid:focus{
  outline: none !important;
}

.bg-user{
  background-image: url("./easyFind1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: relative;
}

.card-user{
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 5%;
  max-width: 100vw;
  opacity: 0.9;
}

.card-user .card{
  border-radius: 0 !important;
}

.border-radius-50{
  border-radius: 50px;
}

@media screen and (min-width: 890px){
  .card-user{
    width: 30%;
  }

  .btn-user{
    width: 50%;
  }
}

@media screen and (max-width: 365px){
  .navbar{
    z-index: 999 !important;
  }

  .card-user{
    margin-top: 20%;
  }

  .btn-user{
    width: 50%;
    font-size: 14px;
  }
}
