.width-18{
    width: 18rem;
}

.w-80{
    width: 80%;
}

.w-20{
    width: 20%;
}

.w-30{
    width: 30%;
}

.card-img-product{
    position: relative;
}

.card-product:hover .btn-view-product{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block;
}

.btn-view-product{
    display: none;
}